body {
  margin: 0;
  padding: 0;
  background-image: url("https://i.imgur.com/X6QzoxK.png");
  background-color: #191919;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sign-up-form {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #191919;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}

.sign-up-form > form {
  border-color: #ffffff;
  background-color: transparent;
}
